.card-box {
  box-sizing: border-box;
  width: 100%;

  background: rgba(221, 225, 237, 0.24);
  border: 1px solid rgba(3, 201, 136, 0.2);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 3rem 2rem;
  position: relative;

  .card-box-checkbox {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    border: 3px solid #03c988;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    &.checked {
      background: #03c988;
      transition: all 0.3s ease-in-out;
    }
  }
  .card-box-text {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-left: 1rem;
    color: #262626;
  }
  .card-box-info-icon {
    position: absolute;
    top: 13px;
    right: 13px;
  }
}
