.risk-meter {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background: linear-gradient(270deg, #96ecb9 0%, #ecd978 31.63%, #f5bf8c 63.78%, #f27e7e 99.56%);
  border-radius: 50px;
}

.risk-meter-bar {
  position: relative;
}

.risk-meter-point {
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
}
